#itemList {
	display: flex;
	flex-wrap: wrap;
}

h1 {
	font-size: 300%;
  color:#009dd9;
  font-family: "Bookman Old Style";
}

ul {
  list-style-type: none;
}

.button {
  background-color: rgb(255, 255, 255); 
  color: rgb(160, 160, 160); 
  border: 2px solid rgb(180, 180, 180);
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
}

.button2 {
  background-color: rgb(255, 255, 255); 
  color: rgb(160, 160, 160); 
  border: 2px solid rgb(180, 180, 180);
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
}

.button:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}

.item {
	padding: 20px;
}

.item:hover {
	background-color: #e0e0e0;
	padding-left: 10px;
}

.item > h4 {
	margin-bottom: 15px;
}

.item > h5 {
	margin-bottom: 15px;
	margin-top: 15px;
}

.itemPhoto {
	width: 15em;
}

.itemPhoto2 {
	width: 4em;
}

.noShow {
	display: none;
}

body {
  font-family: Verdana;
  
}

.flex-container {
  display: flex;
  flex-direction: horizontal;
}

@media screen and (max-width: 630px) {
  .flex-container {
    display: block;
  }
  .itemPhoto {
	width: 20em;
}
.item {
	align-content: center;
}
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-size: 17px;
}
input {
  display: inline-block;
  float: left;
  font-size: 14px;
}
#confirmOrder {
    display: inline-block;
    float: left;
    clear: left;
    text-align: center;
}


.topnav {
  background: #009dd9;
  overflow: hidden;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(131, 131, 131);
  color: white;
}

.topnav a.active {
  background-color: rgb(194, 194, 194);
  color: white;
}
.topnav a.active:hover {
  background-color: rgb(131, 131, 131);
  color: white;
}