<!DOCTYPE html>
<html>
<head>
	<title>Price Results</title>
</head>
<body>
	<h1>Retail First Class Mail Price:</h1>
	<p>Your total price is $<%= totalPrice %> for a package weighing <%= weight %></p>
</body>
</html>
