/* ta02.css */

#div01 {
	background-color: rgb(0, 38, 255);
	font-size: 3em;
}

#div02 {
    background-color: rgb(255, 0, 0);
    font-size: 2em;
}

#div03 {
    background-color: rgb(0, 255, 34);
    font-size: 1em;
}

.hover-bold:hover {
	font-weight: bold;
}