.sidebar{
    background-color: #009dd9; 
    color: white; 
    height: 100%; 
    width: 300px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    overflow-x: hidden; 
    font-family: "Verdana", Geneva, sans-serif; 
    font-size: 30px;
}
.sidebar a{
    color: white; 
    text-decoration: none; 
    display: block;
 
    padding: 20px 0px;

}
a:hover{font-weight: bold;}

.logo{padding: 40px;font-size: 40px;}
.sideLinks{padding: 40px;font-size: 30px;list-style: block;}
.header{margin-top: 100px; font-size: 50px; color: #009dd9;}
.about{font-size: 25px;}

.footer {
    position: fixed;
    padding-left: 40px;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
    

.main{margin-left:340px;margin-right:200px;padding-bottom: 1500px}
